/*header */

header{
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  display: flex;
  align-items: center;
  border-bottom: solid black 1px;
  padding-bottom: 10px;
}
header a:link, a:visited{
  text-decoration: underline;
  color: inherit;
}
.logo{
    display: flex;
    padding-left: 30px;
    flex-grow: 1;
    align-items: center;
}
.logo span{
  color: MediumAquamarine;
  padding-left: 10px;
}
nav{
  padding-right: 40px;
}
nav span{
  display: inline-block;
  padding: 20px 10px;
}

/*content*/

.content{
  display: flex;
  font-family: Georgia, sans-serif;
}
.column{
  display: flex;
  flex-wrap: wrap;
}
.large{
  width: 630px;
}
.medium{
  width: 300px;
}
.small{
  width: 240px;
}
.story{

}

/*images*/
.story-image{
  display: flex;
  height: 300px;
  justify-content: center;
}
.story-image span{
  color: white;
  font-weight: bold;
  font-size: 30px;
  text-align: center;
}
.main-image{
  background-image: url(../images/img-story-main.png);
}
.main-image span{
  font-size: 40px;
  text-align: left;
}
.fall-image{
  background-image: url(../images/img-story-2-fall.png);
}
.camera-image{
  background-image: url(../images/img-story-3-cameraman.png);
}
.cat-image{
  background-image: url(../images/img-story-1-cat.png);
}
img{
  object-fit: contain;
}
/*text content stories*/
.story-text p{
  font-size: 17px;
  color: black;
}
/*black borders*/
div {
  border: solid black 1px;
}
