/*header */

header{
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  border-bottom: solid black 1px;
  padding-bottom: 10px;
}
header a:link, a:visited{
  text-decoration: underline;
  color: inherit;
}
.logo{
    display: flex;
    padding-left: 30px;
    flex-grow: 1;
    align-items: center;
}
.logo span{
  color: MediumAquamarine;
  padding-left: 10px;
}
header nav{
  padding-right: 40px;
}
nav span{
  display: inline-flex;
  padding: 20px 10px;
}

/*content*/

.content{
  display: flex;
  font-family: Georgia, sans-serif;
  flex-wrap: wrap;
}
.column{
  display: flex;
  flex-wrap: wrap;
}
.large{
  max-width: 630px;
}
.medium{
  max-width: 300px;
}
.small{
  max-width: 240px;
}
.lead-story{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.story{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 300px;
  justify-content: space-between;
}
.news-bites{
  display: flex;
  flex-direction: column;
  align-content: flex-start;
}
.footer{
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
  background-color: MediumAquamarine;
  margin: auto;
  font-family: Verdana;
  font-size: 12px;
  height: 300px;
}
.footer-info{
  display: inline-flex;
  align-items: center;
  justify-content:flex-end;
}


/*images*/
.story-image{
  display: flex;
  height: 300px;
  justify-content: center;
}
.story-image span{
  color: white;
  font-weight: bold;
  font-size: 30px;
  text-align: center;
}
.main-image{
  background-image: url(../images/img-story-main.png);
}
.main-image span{
  font-size: 40px;
  text-align: left;
}
.fall-image{
  background-image: url(../images/img-story-2-fall.png);
}
.camera-image{
  background-image: url(../images/img-story-3-cameraman.png);
}
.cat-image{
  background-image: url(../images/img-story-1-cat.png);
}
img{
  object-fit: contain;
}
/*text content stories*/
.story-text{
  padding: 0 10px;
}
.story-text p{
  font-size: 17px;
  color: black;
}
.news-bites h3{
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 40px;
}
.bite{
  background-color: WhiteSmoke;
  font-family: Verdana;
  font-size: 12px;
  color: DimGray;
  padding: 10px 20px;
  border-bottom: solid black 1px;
}
/*footer text*/
.footer-title{
  font-family: Georgia;
  font-size: 16px;
  font-weight: bold;
  color: white;
  padding-right: 25px;
  border-right: solid white 2px;
}
.footer nav{
  padding-left: 25px;
}
/*black borders*/
div {
  border: solid black 1px;
}
